<div class="card" *ngIf="cart">
  <div class="card-body">
    <h5 class="card-title">Order Symmary</h5>
    <h6 class="card-subtitle mb-2 text-muted">You have {{ cart.totalQuantity }} item{{cart.totalQuantity == 1 ? '' : 's' }} in your shopping cart.</h6>
    <table class="table table-hover">
        <tbody>
            <tr *ngFor="let productItem of cart.items">
              <td class="text-left">{{ productItem.quantity }} x {{ productItem.title }}</td>
              <td class="text-right">{{ productItem.totalPrice | currency: 'USD' }}</td>
            </tr>
        </tbody>
        <tfoot>
          <tr>
            <th class="text-left">Total</th>
            <th class="text-right">{{ cart.totalPrice | currency: 'USD' }}</th>
          </tr>
        </tfoot>
      </table>
  </div>
</div>