<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <a class="list-group-item list-group-item-action active" routerLink="/">All Categories</a>
            <a *ngFor="let category of categories$ | async"  
                class="list-group-item list-group-item-action" 
                routerLink="['/',category.key]">
                {{ category.payload.val().name }}
            </a>
        </ul>
    </div>
    <div class="col-md-9">
        
    </div>
</div>