<div class="row">
    <div class="col-md-3">
        <ul class="list-group sidebar">
            <a class="list-group-item list-group-item-action" routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}" routerLink="/">
                All Categories
            </a>
            <a *ngFor="let c of categories$ | async"  
                class="list-group-item list-group-item-action" routerLinkActive="active"
                routerLink="/" [queryParams]="{ category: c.key }">
                {{ c.payload.val().name }}
            </a>
        </ul>
    </div>
    <div class="col">
        <div class="row">
            <ng-container *ngFor="let p of products$ | async; let i = index">
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" [src]="p.imageUrl" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ p.title }}</h5>
                            <p class="card-text">{{ p.price | currency:'USD' }}</p>
                            <button class="btn btn-primary">Add to Cart</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
            </ng-container>
        </div>
    </div>
</div>